.head {
    font-family: Arial;
}
.body{
    background: linear-gradient(to bottom right, rgb(174, 209, 239), rgb(18, 110, 191));
    font-family: Arial;
    width: 1458px;
    height: 1200px;
}
.menu li a:hover {
    color: #1896FF;
    }
    .menu li a:active {
    color: red;
    }
    .menu 
    .new:after {
    content: " new";
    color: blue;
    }
.table {
    width: 150px;
    height: 100px;
    border: 2px black;
}